@charset "utf-8";
* {
  padding: 0;
  margin: 0;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
@keyframes circleFn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-720deg);
  }
}
@-o-keyframes circleFn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-720deg);
  }
}
@-moz-keyframes circleFn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-720deg);
  }
}
@-webkit-keyframes circleFn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-720deg);
  }
}
@keyframes shad {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
    -moz-box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
  }
  25% {
    box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.4);
    -moz-box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.4);
    -webkit-box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.3);
    -moz-box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.3);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.3);
  }
  75% {
    box-shadow: 0 0 0 15px rgba(0, 255, 0, 0.2);
    -moz-box-shadow: 0 0 0 15px rgba(0, 255, 0, 0.2);
    -webkit-box-shadow: 0 0 0 15px rgba(0, 255, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 255, 0, 0.1);
    -moz-box-shadow: 0 0 0 20px rgba(0, 255, 0, 0.1);
    -webkit-box-shadow: 0 0 0 20px rgba(0, 255, 0, 0.1);
  }
}
@-o-keyframes shad {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
    -moz-box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
  }
  25% {
    box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.4);
    -moz-box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.4);
    -webkit-box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.3);
    -moz-box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.3);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.3);
  }
  75% {
    box-shadow: 0 0 0 15px rgba(0, 255, 0, 0.2);
    -moz-box-shadow: 0 0 0 15px rgba(0, 255, 0, 0.2);
    -webkit-box-shadow: 0 0 0 15px rgba(0, 255, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 255, 0, 0.1);
    -moz-box-shadow: 0 0 0 20px rgba(0, 255, 0, 0.1);
    -webkit-box-shadow: 0 0 0 20px rgba(0, 255, 0, 0.1);
  }
}
@-moz-keyframes shad {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
    -moz-box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
  }
  25% {
    box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.4);
    -moz-box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.4);
    -webkit-box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.3);
    -moz-box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.3);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.3);
  }
  75% {
    box-shadow: 0 0 0 15px rgba(0, 255, 0, 0.2);
    -moz-box-shadow: 0 0 0 15px rgba(0, 255, 0, 0.2);
    -webkit-box-shadow: 0 0 0 15px rgba(0, 255, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 255, 0, 0.1);
    -moz-box-shadow: 0 0 0 20px rgba(0, 255, 0, 0.1);
    -webkit-box-shadow: 0 0 0 20px rgba(0, 255, 0, 0.1);
  }
}
@-webkit-keyframes shad {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
    -moz-box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
  }
  25% {
    box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.4);
    -moz-box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.4);
    -webkit-box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.3);
    -moz-box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.3);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.3);
  }
  75% {
    box-shadow: 0 0 0 15px rgba(0, 255, 0, 0.2);
    -moz-box-shadow: 0 0 0 15px rgba(0, 255, 0, 0.2);
    -webkit-box-shadow: 0 0 0 15px rgba(0, 255, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 255, 0, 0.1);
    -moz-box-shadow: 0 0 0 20px rgba(0, 255, 0, 0.1);
    -webkit-box-shadow: 0 0 0 20px rgba(0, 255, 0, 0.1);
  }
}
.layout {
  width: 1200px;
  margin: 0 auto;
}
.layout input::placeholder {
  color: #e10030;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  line-height: inherit;
}
.layout input:-ms-input-placeholder {
  color: #e10030;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  line-height: inherit;
}
.layout input::-moz-placeholder {
  color: #e10030;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  line-height: inherit;
}
.layout input::-webkit-input-placeholder {
  color: #e10030;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  line-height: inherit;
}
.layout .imgBox {
  width: 646px;
  height: 408px;
  padding: 10px;
  margin: 0 auto;
  background: red;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.layout .imgBox img {
  display: block;
  width: 400px;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.layout .listOne {
  width: 1200px;
  height: 80px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  align-content: start;
  -webkit-align-content: start;
  background: red;
}
.layout .listOne li {
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  background: green;
  margin: 0 20px;
  border-radius: 50%;
}
.layout .listOne li:first-child {
  animation-name: shad;
  -o-animation-name: shad;
  -moz-animation-name: shad;
  -webkit-animation-name: shad;
  animation-duration: 1200ms;
  -o-animation-duration: 1200ms;
  -moz-animation-duration: 1200ms;
  -webkit-animation-duration: 1200ms;
  animation-direction: normal;
  -o-animation-direction: normal;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-delay: 0;
  -o-animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: none;
  -o-animation-fill-mode: none;
  -webkit-animation-fill-mode: none;
}
.layout .listOne li:first-child + li {
  animation-name: shad;
  -o-animation-name: shad;
  -moz-animation-name: shad;
  -webkit-animation-name: shad;
  animation-duration: 1200ms;
  -o-animation-duration: 1200ms;
  -moz-animation-duration: 1200ms;
  -webkit-animation-duration: 1200ms;
  animation-direction: normal;
  -o-animation-direction: normal;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-delay: 0;
  -o-animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: none;
  -o-animation-fill-mode: none;
  -webkit-animation-fill-mode: none;
}
.layout .listOne li:nth-child(3) {
  animation-name: shad;
  -o-animation-name: shad;
  -moz-animation-name: shad;
  -webkit-animation-name: shad;
  animation-duration: 1200ms;
  -o-animation-duration: 1200ms;
  -moz-animation-duration: 1200ms;
  -webkit-animation-duration: 1200ms;
  animation-direction: normal;
  -o-animation-direction: normal;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-delay: 0;
  -o-animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: none;
  -o-animation-fill-mode: none;
  -webkit-animation-fill-mode: none;
}
.layout .listOne li:last-child {
  animation-name: shad;
  -o-animation-name: shad;
  -moz-animation-name: shad;
  -webkit-animation-name: shad;
  animation-duration: 1200ms;
  -o-animation-duration: 1200ms;
  -moz-animation-duration: 1200ms;
  -webkit-animation-duration: 1200ms;
  animation-direction: normal;
  -o-animation-direction: normal;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-delay: 0;
  -o-animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: none;
  -o-animation-fill-mode: none;
  -webkit-animation-fill-mode: none;
}
.layout .listTwo {
  width: 1200px;
  height: 80px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  align-content: start;
  -webkit-align-content: start;
  background: yellow;
}
.layout .listTwo li {
  width: 60px;
  height: 60px;
  background: green;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  box-shadow: initial;
}
.layout .listTwo li:hover {
  animation-name: circleFn;
  -o-animation-name: circleFn;
  -moz-animation-name: circleFn;
  -webkit-animation-name: circleFn;
  animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -moz-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-direction: normal;
  -o-animation-direction: normal;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-delay: 0;
  -o-animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: none;
  -o-animation-fill-mode: none;
  -webkit-animation-fill-mode: none;
}
.layout .bin {
  width: 646px;
  height: 408px;
  margin: 0 auto;
}
.inp {
  height: 30px;
  width: 200px;
  line-height: 30px;
}
/*# sourceMappingURL=./index.css.map */