@charset "utf-8";
* {
  padding: 0;
  margin: 0;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:link {
  color: #999;
}
@-webkit-keyframes circleFn {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
  }
}
@-moz-keyframes circleFn {
  0% {
    -moz-transform: rotate(0);
         transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(-720deg);
         transform: rotate(-720deg);
  }
}
@keyframes circleFn {
  0% {
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-720deg);
       -moz-transform: rotate(-720deg);
         -o-transform: rotate(-720deg);
            transform: rotate(-720deg);
  }
}
@-webkit-keyframes shad {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
  }
  25% {
    box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.3);
  }
  75% {
    box-shadow: 0 0 0 15px rgba(0, 255, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 255, 0, 0.1);
  }
}
@-moz-keyframes shad {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
  }
  25% {
    box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.3);
  }
  75% {
    box-shadow: 0 0 0 15px rgba(0, 255, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 255, 0, 0.1);
  }
}
@keyframes shad {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
  }
  25% {
    box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.3);
  }
  75% {
    box-shadow: 0 0 0 15px rgba(0, 255, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 255, 0, 0.1);
  }
}
.layout {
  width: 1200px;
  margin: 0 auto;
}
.layout input::-webkit-input-placeholder {
  color: #e10030;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  line-height: inherit;
}
.layout input:-moz-placeholder {
  color: #e10030;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  line-height: inherit;
}
.layout input::-moz-placeholder {
  color: #e10030;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  line-height: inherit;
}
.layout input:-ms-input-placeholder {
  color: #e10030;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  line-height: inherit;
}
.layout input::-ms-input-placeholder {
  color: #e10030;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  line-height: inherit;
}
.layout input::placeholder {
  color: #e10030;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  line-height: inherit;
}
.layout .imgBox {
  width: 646px;
  height: 408px;
  padding: 10px;
  margin: 0 auto;
  background: red;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.layout .imgBox img {
  display: block;
  width: 400px;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.layout .listOne {
  width: 1200px;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-content: start;
      -ms-flex-line-pack: start;
          align-content: start;
  background: red;
}
.layout .listOne li {
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  background: green;
  margin: 0 20px;
  border-radius: 50%;
}
.layout .listOne li:first-child {
  -webkit-animation-name: shad;
     -moz-animation-name: shad;
          animation-name: shad;
  -webkit-animation-duration: 1200ms;
     -moz-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-direction: normal;
     -moz-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 0;
     -moz-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
     -moz-animation-fill-mode: none;
          animation-fill-mode: none;
}
.layout .listOne li:first-child + li {
  -webkit-animation-name: shad;
     -moz-animation-name: shad;
          animation-name: shad;
  -webkit-animation-duration: 1200ms;
     -moz-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-direction: normal;
     -moz-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 0;
     -moz-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
     -moz-animation-fill-mode: none;
          animation-fill-mode: none;
}
.layout .listOne li:nth-child(3) {
  -webkit-animation-name: shad;
     -moz-animation-name: shad;
          animation-name: shad;
  -webkit-animation-duration: 1200ms;
     -moz-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-direction: normal;
     -moz-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 0;
     -moz-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
     -moz-animation-fill-mode: none;
          animation-fill-mode: none;
}
.layout .listOne li:last-child {
  -webkit-animation-name: shad;
     -moz-animation-name: shad;
          animation-name: shad;
  -webkit-animation-duration: 1200ms;
     -moz-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-direction: normal;
     -moz-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 0;
     -moz-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
     -moz-animation-fill-mode: none;
          animation-fill-mode: none;
}
.layout .listTwo {
  width: 1200px;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-content: start;
      -ms-flex-line-pack: start;
          align-content: start;
  background: yellow;
}
.layout .listTwo li {
  width: 60px;
  height: 60px;
  background: green;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  box-shadow: initial;
}
.layout .listTwo li:hover {
  -webkit-animation-name: circleFn;
     -moz-animation-name: circleFn;
          animation-name: circleFn;
  -webkit-animation-duration: 300ms;
     -moz-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-direction: normal;
     -moz-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 0;
     -moz-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
     -moz-animation-fill-mode: none;
          animation-fill-mode: none;
}
.layout .bin {
  width: 646px;
  height: 408px;
  margin: 0 auto;
}
.inp {
  height: 30px;
  width: 200px;
  line-height: 30px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-transform: translate(30px, 0);
     -moz-transform: translate(30px, 0);
      -ms-transform: translate(30px, 0);
       -o-transform: translate(30px, 0);
          transform: translate(30px, 0);
}
/*# sourceMappingURL=./index.css.map */